@model TheGreatQuiz.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>>@ViewBag.Title.</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
</head>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <body class="loginBody">
        <header class="mainHeader"></header>
        <div class="grid-container">
            <section class="grid-100 grid-parent">
                <div class="loginWindow grid-60 prefix-20">
                    <div class="row">
                        <h4>Skapa nytt konto</h4><hr/>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="logRegButton completRegistrationButton" value="Registera konto" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
}
</Html>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
